= form_for @task, url:project_tasks_path do |t|
  .form-horizontal
    = render partial: "shared/errors", locals: {object: @task}
    .form-group
      = t.label :description, class: "col-md-2 control-label"
      .col-md-3
        = t.text_field :description, class: "form-control"
    .form-group
      = t.label :due_date, class: "col-md-2 control-label"
      .col-md-3
        = t.date_field :due_date, class: "form-control"
    - if controller.controller_name == 'tasks' && controller.action_name == 'edit'
      .form-group
        .col-md-offset-2.col-md-10
          = t.check_box :complete
          Complete
    .form-group
      .col-md-offset-2.col-md-10
        = t.submit button_nm, class: "btn btn-primary"
        = link_to "Cancel", project_tasks_path, class: "btn btn-default"
