

<div class="form-horizontal">
  <div class="form-group">
    <%= form_for @task do |f| %>
    <%= f.label :description, class: "col-md-2 control-label" %>
    <div class="col-md-3">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

<% if controller.controller_name == 'tasks' && controller.action_name == 'edit' %>
  <!-- current_page?(controller: 'tasks', action: 'edit') %> -->
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.check_box :complete %> Complete
    </div>
  </div>
<% end %>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit button_nm, class: "btn btn-primary" %>
      <%= link_to "cancel", tasks_path, class: "btn btn-default" %>
    </div>
  </div>
  <% end %>
</div>
