
  <% if notice %>
    <p class="text-success"><%= notice %></p>
  <% end %>




  <div class="page-header">
    <button type="button" class="btn btn-info pull-right">
      <%= link_to "New Task", new_task_path %>
    </button>

    <h1>Listing Tasks</h1>
  </div>

  <div class="page-header">
    <h4>Description</h4>
  </div>


<!-- Adding create/update/destroy task note if relevant -->

  <% @tasks.each do |task| %>
    <p>
      <div class="row">
        <div class="col-md-10">
          <a href="<%= task_path(task[:id]) %>">
            <%= task.description %>
          </a>
        </div>
        <div class="col-md-2 text-right">
          <button type="button" class="btn btn=info ">
            <%= link_to "Edit", edit_task_path(task[:id]) %>
          </button>
          <button type="button" class="btn btn-danger ">
            <%= link_to "Delete", task_path(task[:id]),
            method: :delete, data: {confirm: "Are you sure?"} %>
          </button>
        </div>
      </div>
    <p>
  <% end %>
