.page-header
  = link_to "New Task", new_project_task_path, class: "btn btn-info pull-right"
  %h1= "Tasks for #{@project.name.capitalize}"
%ol.breadcrumb
  %li= link_to "Projects", projects_path
  %li= link_to "#{@project.name.capitalize}", project_path(@project)
  %li.active= 'Tasks'
%table.table
  %thead
    %tr
      %th{:colspan => "1"} Description
      %th{:colspan => "2"} Due On
  %tbody
    - @project.tasks.each do |task|
      %tr
        %td.col-md-3
          - if task.complete
            %s
              %a{:href => "#{project_task_path(@project, task[:id])}"}= task.description
          - else
            %a{:href => "#{project_task_path(@project, task[:id])}"}= task.description
        %td.col-md-7
          - if task.due_date
            = task.due_date.strftime("%_m/%d/%Y")
        %td.col-md-2.text-right
          = link_to "Edit", edit_project_task_path(@project, task[:id]), class: "btn btn-info"
          = link_to "Delete", project_task_path(@project, task[:id]),                                     |
            method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger " |
