
  <% if notice %>
    <p class="alert-success"><%= notice %></p>
  <% end %>




  <div class="page-header">
    <%= link_to "New Task", new_task_path, class: "btn btn-info pull-right" %>
    <h1>Listing Tasks</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th colspan=2>Description</th>
      </tr>
    </thead>


<!-- Adding create/update/destroy task note if relevant -->
    <tbody>

      <% @tasks.each do |task| %>
          <tr>
            <div class="row">
              <div class="col-md-10">
                <td>
                  <a href="<%= task_path(task[:id]) %>"><%= task.description %>
                  </a>
                </td>
              </div>

              <div class="col-md-2">
                <td class="text-right">
                  <%= link_to "Edit", edit_task_path(task[:id]), class: "btn btn-info" %>

                  <%= link_to "Delete", task_path(task[:id]),
                  method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger " %>
                </td>
              </div>

            </div>
          </tr>
      <% end %>
    </tbody>

  </table>
