.page-header
  = link_to "New Task", new_task_path, class: "btn btn-info pull-right"
  %h1 Tasks
%table.table
  %thead
    %tr
      %th{:colspan => "1"} Description
      %th{:colspan => "2"} Due On
  %tbody
    - @tasks.each do |task|
      %tr
        %td.col-md-3
          - if task.complete
            %s
              %a{:href => "#{task_path(task[:id])}"}= task.description
          - else
            %a{:href => "#{task_path(task[:id])}"}= task.description
        %td.col-md-7
          - if task.due_date
            = task.due_date.strftime("%_m/%d/%Y")
        %td.col-md-2.text-right
          = link_to "Edit", edit_task_path(task[:id]), class: "btn btn-info"
          = link_to "Delete", task_path(task[:id]),                                     |
            method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger " |
