<h1> Task Show Page </h1>

<p>Description: <%= @task.description %></p>
<p>Created At: <%= @task.created_at %></p>
<p>Updated At: <%= @task.updated_at %></p>
<%= link_to "Edit", edit_task_path(@task) %> |
<%= link_to "Back", tasks_path %>
