- if @task.complete
  .page-header
    = link_to "Edit Task", edit_project_task_path, class: "btn btn-info pull-right"
    %h1
      %s= @task.description
- else
  .page-header
    = link_to "Edit Task", edit_project_task_path, class: "btn btn-info pull-right"
    %h1= @task.description
%ol.breadcrumb
  %li= link_to "Projects", projects_path
  %li= link_to "#{@project.name}", project_path(@project)
  %li= link_to "Tasks", project_tasks_path
  %li.active= "#{@task.description}"
- if @task.due_date
  %b= "Due On"
  \:
  \#{@task.due_date.strftime("%m/%d/%Y")}
  %br

%h3 Comments
- @comments.each do |comment|
  .row
    .col-md-3
      -if comment.user_id
        = link_to comment.user.full_name, user_path(comment.user_id)
      -else
        = "(deleted user)"
      .text-muted
        = time_ago_in_words(comment.created_at)
    .col-md-9
      = comment.message
  %br
.row
  = form_for [@task, @comment] do |f|
    .col-md-offset-3.col-md-9
      = f.text_area :message, class: 'form-control'
    .col-md-offset-3.col-md-2
      %br
      = f.submit "Add Comment", class:'btn btn-primary'
