
<% if @task.complete %>
  <div class="page-header">
    <%= link_to "Edit Task", edit_task_path, class: "btn btn-info pull-right" %>
    <h1><s><%= @task.description %></s></h1>
  </div>
<% else %>
  <div class="page-header">
    <%= link_to "Edit Task", edit_task_path, class: "btn btn-info pull-right" %>
    <h1><%= @task.description %></h1>
  </div>
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Tasks", tasks_path %></li>
  <li class="active"><%= @task.description %></li>
</ol>

<div class="col-md-2 pull-left">
  <b><%= "Due Date" %></b> :
  <%= @task.due_date %>
</div>
