<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a class="navbar-brand" href="#">gCamp</a>
  </div>
</nav>

<div class="container">

  <div class="page-header">
    <h1>Terms</h1>
  </div>

  <p> gCamp is not responsible for anything, unless it is positive.</p>

  <p> You may not take us to court. For anything. Ever. </p>



  <div class="page-header">
  </div>

  <footer class="footer">

    <div class="col-md-9">
      <%=link_to "About", about_path %> |
      <%=link_to "Terms", terms_path %>
    </div>

    <div class="col-md-3 text-right">
      <%=link_to "http://linkedin.com/in/alexandralaudon" do %>
        <%=image_tag("linkedin.jpg", height:"25")%>
      <%end%>
      <%=link_to "https://github.com/alexandralaudon" do %>
        <%=image_tag("github.jpg", height:"25")%>
      <%end%>
      <%=link_to "https://twitter.com/AlexandraLaudon" do %>
        <%=image_tag("twitter.jpg", height:"25")%>
      <%end%>
      <%=link_to "https://students.gschool.it/students/269" do %>
        <%=image_tag("gschool.jpg", height:"25")%>
      <%end%>
    </div>

  </footer>


</div>
