= form_for @user do |f|
  .form-horizontal
    = render partial: "shared/errors", locals: {object: @user, gap: true}
    .form-group
      = f.label :first_name, class: "col-md-2 control-label"
      .col-md-5
        = f.text_field :first_name, class: "form-control"
    .form-group
      = f.label :last_name, class: "col-md-2 control-label"
      .col-md-5
        = f.text_field :last_name, class: "form-control"
    .form-group
      = f.label :email, class: "col-md-2 control-label"
      .col-md-5
        = f.email_field :email, class: "form-control"
    .form-group
      = f.label :password, class: "col-md-2 control-label"
      .col-md-5
        = f.password_field :password, class: "form-control"
    .form-group
      = f.label :password_confirmation, class: "col-md-2 control-label"
      .col-md-5
        = f.password_field :password_confirmation, class: "form-control"
    .form-group
      .col-md-offset-2.col-md-10
        = f.submit button_nm, class: "btn btn-primary"
        = link_to "cancel", users_path, class: "btn btn-default"
    - if controller.controller_name == 'users' && controller.action_name == 'edit'
      .form-group
        .col-md-offset-2.col-md-3
          .well
            %center
              = link_to "Delete User", user_path,                                           |
                method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger " |
