.page-header
  = link_to "New User", new_user_path, class: "btn btn-info pull-right"
  %h1 Users
%table.table
  %thead
    %tr
      %th{:colspan => "1"} Name
      %th{:colspan => "2"} Email
  %tbody
    - @users.each do |user|
      %tr
        %td.col-md-3
          =link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", user_path(user[:id])
        %td.col-md-7
          - if personal_profile?(user) || membership_sharing?(user)
            = mail_to(user.email)
        %td.col-md-2.text-right
          - if personal_profile?(user) || ensure_admin?
            = link_to "Edit", edit_user_path(user[:id])
