

<div class="page-header">
  <%= link_to "Edit", edit_user_path, class: "btn btn-info pull-right" %>
  <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %> </h1>
</div>

<dl class="dl-horizontal">
  <p>
    <dt><%= "First Name" %></dt>
    <dd><%= @user.first_name.capitalize %></dd>
  </p>
    <dt><%= "Last Name" %></dt>
    <dd><%= @user.last_name.capitalize %></dd>
  <p>
    <dt><%= "Email" %></dt>
    <dd><%= mail_to(@user.email) %></dd>
  </p>
</dl>
