= form_for @project do |p|
  .form-horizontal
    -if @project.errors.any?
      .form-group
        .col-md-offset-2.col-md-8
          .alert.alert-danger{role:"alert"}
            %h2 #{@project.errors.count} error prohibited this message from being saved:
            - @project.errors.full_messages.each do |message|
              %ul
                %li= message
    .form-group
      = p.label :name, class:"col-md-2 control-label"
      .col-md-5
        = p.text_field :name, class:"form-control"
    .form-group
      .col-md-offset-2.col-md-10
        = p.submit button_nm, class:"btn btn-primary"
        = link_to "Cancel", projects_path, class:"btn btn-default"
