.page-header
  .pull-right
    = link_to 'Edit', edit_project_path, class:"btn btn-info"
  %h1= @project.name.capitalize
%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li.active= @project.name
%p
  = link_to pluralize(@tasks.count, 'Task'), project_tasks_path(@project)
%p
  = link_to pluralize(@memberships.count, 'Membership'), project_memberships_path(@project)

.well
  %h4 Delete
  = "Deleting this project will also delete #{pluralize(@memberships.count, 'Membership')}, #{pluralize(@tasks.count, 'Task')} and associated comments"
  %p
  = link_to 'Delete', project_path, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger"
