.page-header
  .pull-right
    = "(showing first #{@number_of_stories})"
  %h1= @project_name

%table.table.table-striped
  %thead
    %tr
      %th{:colspan => "1"} Story
      %th{:colspan => "1"} Estimate
      %th{:colspan => "1"} Labels
      %th{:colspan => "1"} Current State
  %tbody
    - @stories.first(@number_of_stories).each do |story|
      %tr
        %td= link_to story[:name], story[:url]
        %td= story[:estimate]
        - labels = story[:labels].map do |label|
          - label[:name]
        %td= labels.join(', ')
        %td= story[:current_state]
