!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "gCamp"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          = link_to "gCamp", root_path, class:"navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Sign Up', sign_up_path, class:"navbar-brand"
    .container
      / Adding create/update/destroy task note if relevant
      - if notice
        %p.alert.alert-success{:role => "alert"}= flash[:notice]
      = yield
      .page-header
      %footer.footer
        .col-md-9
          = link_to "About", about_path
          |
          = link_to "Terms", terms_path
          |
          = link_to "FAQ", faq_path
          |
          = link_to "Tasks", tasks_path
          |
          = link_to "Users", users_path
          |
          = link_to "Projects", projects_path
        .col-md-3.text-right
          = link_to "http://linkedin.com/in/alexandralaudon" do
            = image_tag("linkedin.jpg", height:"25")
          = link_to "https://github.com/alexandralaudon" do
            = image_tag("github.jpg", height:"25")
          = link_to "https://twitter.com/AlexandraLaudon" do
            = image_tag("twitter.jpg", height:"25")
          = link_to "https://students.gschool.it/students/269" do
            = image_tag("gschool.jpg", height:"25")
