!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= "Al's Task App"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          = render partial: "shared/navbar_public_vs_private", locals: {object: current_user, controller_location: controller}
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user.id)
            %li= link_to 'Sign Out', sign_out_path
          - else
            %li= link_to 'Sign In', sign_in_path
            %li= link_to 'Sign Up', sign_up_path
    .container
      - if notice
        %p.alert.alert-success{:role => "alert"}= flash[:notice]
      - elsif flash[:danger]
        %p.alert.alert-danger{:role => "alert"}= flash[:danger]
      = yield
      .page-header
      %footer.footer
        = render partial: "shared/footer_public_vs_private", locals: {object: current_user, controller_location: controller}
