<!DOCTYPE html>
<html>
  <head>
    <title>Gcamp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">gCamp</a>
        </div>
      </div>
    </nav>

    <div class="container">

    <!-- Adding create/update/destroy task note if relevant -->

    <% if notice %>
      <p class="alert alert-success" role="alert"><%= flash[:notice] %></p>
    <% end %>


      <%= yield %>

      <div class="page-header">
      </div>

      <footer class="footer">

        <div class="col-md-9">
          <%=link_to "About", about_path %> |
          <%=link_to "Terms", terms_path %> |
          <%=link_to "FAQ", faq_path %>     |
          <%=link_to "Tasks", tasks_path %> |
          <%=link_to "Users", users_path %> |
          <%=link_to "Projects", projects_path %>
        </div>

        <div class="col-md-3 text-right">
          <%=link_to "http://linkedin.com/in/alexandralaudon" do %>
            <%=image_tag("linkedin.jpg", height:"25")%>
          <%end%>
          <%=link_to "https://github.com/alexandralaudon" do %>
            <%=image_tag("github.jpg", height:"25")%>
          <%end%>
          <%=link_to "https://twitter.com/AlexandraLaudon" do %>
            <%=image_tag("twitter.jpg", height:"25")%>
          <%end%>
          <%=link_to "https://students.gschool.it/students/269" do %>
            <%=image_tag("gschool.jpg", height:"25")%>
          <%end%>
        </div>

      </footer>

    </div>

  </body>
</html>
